.v-application--wrap {
  background: oldlace;
}

.v-application {
  a {
    text-decoration: none;
    font-size: 2em;
    color: #004D40 !important;
    font-weight: 600;
    text-transform: uppercase;
  }
}